---

# (c) Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: Namespace
metadata:
  name: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-hostpathplugin
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-hostpath-provisioner
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["list", "watch", "create", "update", "patch"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["volumesnapshots"]
    verbs: ["get", "list"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["volumesnapshotcontents"]
    verbs: ["get", "list"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csinodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-hostpath-provisioner
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: ClusterRole
  name: csi-hostpath-provisioner
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: csi-hostpath-provisioner
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["endpoints"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csistoragecapacities"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get"]
  - apiGroups: ["apps"]
    resources: ["replicasets"]
    verbs: ["get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-hostpath-provisioner
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: Role
  name: csi-hostpath-provisioner
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-hostpath-attacher
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "patch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["csinodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch", "patch"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments/status"]
    verbs: ["patch"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-hostpath-attacher
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: ClusterRole
  name: csi-hostpath-attacher
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: csi-hostpath-attacher
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-hostpath-attacher
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: Role
  name: csi-hostpath-attacher
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-hostpath-snapshotter
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["list", "watch", "create", "update", "patch"]
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["volumesnapshotclasses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["volumesnapshotcontents"]
    verbs: ["create", "get", "list", "watch", "update", "delete"]
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources: ["volumesnapshotcontents/status"]
    verbs: ["update"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-hostpath-snapshotter
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: ClusterRole
  name: csi-hostpath-snapshotter
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: csi-hostpath-snapshotter
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-hostpath-snapshotter
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: Role
  name: csi-hostpath-snapshotter
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-hostpath-resizer
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "patch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims/status"]
    verbs: ["patch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["list", "watch", "create", "update", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-hostpath-resizer
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: ClusterRole
  name: csi-hostpath-resizer
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: csi-hostpath-resizer
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-hostpath-resizer
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: Role
  name: csi-hostpath-resizer
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-external-health-monitor-controller
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["get", "list", "watch", "create", "patch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-external-health-monitor-controller
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: ClusterRole
  name: csi-external-health-monitor-controller
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: csi-external-health-monitor-controller
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "watch", "list", "delete", "update", "create"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-external-health-monitor-controller
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-hostpathplugin
    namespace: csi-hostpath
roleRef:
  kind: Role
  name: csi-external-health-monitor-controller
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: hostpath.csi.k8s.io
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  volumeLifecycleModes:
    - Persistent
    - Ephemeral
  podInfoOnMount: true

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
provisioner: hostpath.csi.k8s.io
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true

---
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpath
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
driver: hostpath.csi.k8s.io
deletionPolicy: Delete

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: csi-hostpathplugin
  namespace: csi-hostpath
  labels:
    app.kubernetes.io/name: csi-hostpathplugin
    app.kubernetes.io/part-of: csi-hostpath
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  serviceName: csi-hostpathplugin
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: csi-hostpathplugin
      app.kubernetes.io/part-of: csi-hostpath
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: csi-hostpathplugin
        app.kubernetes.io/part-of: csi-hostpath
        addonmanager.kubernetes.io/mode: Reconcile
    spec:
      serviceAccount: csi-hostpathplugin
      containers:
        - name: hostpath
          image: k8s.gcr.io/sig-storage/hostpathplugin:v1.7.2
          imagePullPolicy: IfNotPresent
          args:
            - --drivername=hostpath.csi.k8s.io
            - --v=5
            - --endpoint=$(CSI_ENDPOINT)
            - --nodeid=$(KUBE_NODE_NAME)
          env:
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          securityContext:
            privileged: true
          ports:
            - containerPort: 9898
              name: healthz
              protocol: TCP
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 2
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
            - mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
              name: mountpoint-dir
            - mountPath: /var/lib/kubelet/plugins
              mountPropagation: Bidirectional
              name: plugins-dir
            - mountPath: /csi-data-dir
              name: csi-data-dir
            - mountPath: /dev
              name: dev-dir
{% if kubernetes_release < 'v1.21' %}
        - name: csi-external-health-monitor-agent
          image: k8s.gcr.io/sig-storage/csi-external-health-monitor-agent:v0.2.0
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=$(ADDRESS)
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: ADDRESS
              value: /csi/csi.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
{% endif %}
        - name: csi-external-health-monitor-controller
          image: k8s.gcr.io/sig-storage/csi-external-health-monitor-controller:v0.3.0
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=$(ADDRESS)
            - --leader-election
          env:
            - name: ADDRESS
              value: /csi/csi.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: node-driver-registrar
          image: k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.2.0
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/csi-hostpath/csi.sock
          securityContext:
            privileged: true
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
            - mountPath: /registration
              name: registration-dir
            - mountPath: /csi-data-dir
              name: csi-data-dir
        - name: liveness-probe
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
          image: k8s.gcr.io/sig-storage/livenessprobe:v2.3.0
          imagePullPolicy: IfNotPresent
          args:
            - --csi-address=/csi/csi.sock
            - --health-port=9898
        - name: csi-hostpath-attacher
          image: k8s.gcr.io/sig-storage/csi-attacher:v3.2.1
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
        - name: csi-hostpath-provisioner
          image: k8s.gcr.io/sig-storage/csi-provisioner:v2.2.1
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
            - --feature-gates=Topology=true
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
        - name: csi-hostpath-resizer
          image: k8s.gcr.io/sig-storage/csi-resizer:v1.2.0
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
        - name: csi-hostpath-snapshotter
          image: k8s.gcr.io/sig-storage/csi-snapshotter:v4.1.1
          imagePullPolicy: IfNotPresent
          args:
            - --v=5
            - --csi-address=/csi/csi.sock
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /csi
              name: socket-dir
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi-hostpath
            type: DirectoryOrCreate
        - name: mountpoint-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
        - name: plugins-dir
          hostPath:
            path: /var/lib/kubelet/plugins
            type: Directory
        - name: csi-data-dir
          hostPath:
            path: {{ csi_hostpath_data_dir }}
            type: DirectoryOrCreate
        - name: dev-dir
          hostPath:
            path: /dev
            type: Directory
